@import "../index.css";

.donut-hero {
  width: 20em;
  margin: var(--spacing);
}

.subtitle {
  font-size: var(--subtitle-text);
  margin: var(--spacing);
  text-align: center;
  width: 80%;
}

.cta {
  font-size: var(--medium-text);
  padding: 12px 70px;
}

.locations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 24px 0;
}

.product-card {
  width: 30%;
  flex-grow: 0;
  background-color: var(--light-pink);
  border: 1px solid #000;
  border-radius: var(--border-radius);
}

.product-card img {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.location-info {
  padding: 12px;
}

.large-black-text {
  font-size: var(--medium-large-text);
  font-weight: 900;
}

img {
  width: 100%;
}

@media /* screen and */ (max-width: 1000px) {
  .locations {
    flex-wrap: wrap;
    align-content: space-between;
  }

  .product-card {
    width: 100%;
    margin: var(--spacing);
  }
}

@media (max-width: 640px) {
  .donut-hero {
    width: 10em;
  }
  h1 {
    font-size: 2em;
  }
}
