@import "../index.css";

/* Menu page styles */

.product-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1000px;
  margin: 24px 0;
  padding: 48px 0;
  gap: 80px;
}

.donut-item {
  margin: 0 0 24px 0;
}

.donut-image {
  max-width: 120px;
}

.quantity-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.quantity {
  font-size: var(--medium-text);
}

.donut-name {
  font-size: var(--medium-text);
}
.donut-price {
  font-size: var(--medium-text);
  margin: 0;
}

.small-button {
  font-size: var(--body-text);
  padding: 8px 20px;
  margin: 12px;
}

.donuts-added {
  background-color: var(--dark-pink);
  color: #000;
  width: 45%;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 1%;
  /* transition: all 2s ease-out; */
  opacity: 80%;
  font-size: var(--body-text);
}
