@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --spacing: 12px 0;

  --border-radius: 8px;

  --medium-large-text: 30px;
  --medium-text: 20px;
  --subtitle-text: 24px;
  --body-text: 16px;

  --light-pink: #ffecec;
  --dark-pink: #f697cd;
  --orange: #ce8c4f;
  --beige: #fff8eb;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--light-pink);
  font-family: "Raleway", sans-serif;
  margin: 0;
}

h1,
h2 {
  color: var(--dark-pink);
  font-weight: 900;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin: var(--spacing);
}

h2 {
  font-size: var(--medium-large-text);
  margin: var(--spacing);
}

h3 {
  font-size: var(--medium-text);
  color: #000;
}

p {
  font-size: var(--body-text);
  margin: var(--spacing);
  text-align: center;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid #000;
  background-color: var(--orange);
  color: #fff;
  margin: 12px;
  cursor: pointer;
}

.beige-area {
  background-color: var(--beige);
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 24px 0;
  padding: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basket-open {
  overflow: hidden;
}

@media (max-width: 640px) {
  :root {
    --spacing: 12px 0;
    --medium-large-text: 1.5em;
    --subtitle-text: 1.2em;
    --medium-text: 1em;
    --body-text: 12px;
  }
}
