@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --spacing: 12px 0;
  --medium-large-text: 30px;
  --subtitle-text: 24px;
  --medium-text: 20px;
  --body-text: 16px;
}

.inactive {
  display: none !important;
  transition: all 2s ease-out;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffecec;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
